@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --soft-primary-bg: hsl(210 100% 97%);
  --soft-success-bg: hsl(142 70% 95%);
  --modal-bg: #ffffff;
  --modal-surface: #f8fafc;
  --modal-border: #e2e8f0;

  --header-bg: #dbdbdb;
  --header-text: #0f172a;

  --text-primary: #0f172a;
  --text-secondary: #475569;

  --input-bg: #ffffff;
  --input-border: #475569;

  --dialog-primary: #3b82f6;
  --dialog-primary-hover:#619eff;
  --dialog-primary-text: #619eff;

  --dialog-danger: #dc2626;
  --btn-text:#e6e6e6;
  --overview-back:#f8fafc;

    /* ===============================
     Core UI / Layout
     =============================== */
  --overview-base: #f0f0f0;        /* Page background */
  --overview-card: #eeeeee;       /* Cards / panels */
  --overview-muted: #f1f5f9;      /* Subtle sections */

   --overview-border-base: #e4e8ee;   /* Card borders / dividers */
  --overview-border-strong: #d1d5db;

  --overview-text-base: #111827;     /* Primary text */
  --overview-text-muted: #6b7280;    /* Secondary labels */
  --overview-text-subtle: #9ca3af;

  --overview-info: #3f51b5;           /* Metadata / labels */
  --overview-teal: #2bb7a0;           /* Paid / stable / normal */
  --overview-bill-card:#e0e0e0;

  /* ===============================
     Status & Alerts
     =============================== */
  --overview-success: #2e7d32;
  --overview-success-soft: #e6f4ea;

  --overview-warning: #f9a825;
  --overview-warning-soft: #fff8e1;

  --overview-danger: #d32f2f;
  --overview-danger-soft: #fdecea;

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --modal-bg: #111827;
  --modal-surface: #070c16;
  --modal-border: #1f2937;

  --header-bg: #111827;
  --header-text: #f1f5f9;

  --text-primary: #dbdbdb;
  --text-secondary: #94a3b8;

  --input-bg: #020617;
  --input-border: #1f2937;

  --dialog-primary: #60a5fa;
  --dialog-primary-hover:#84bbff;
  --dialog-primary-text: #020617;

  --dialog-danger: #f87171;
  --btn-text:#e2e2e2;
  --overview-back:#2b43bb;

  /* ===============================
     Core UI / Layout
     =============================== */
  --overview-base: #0b1220;
  --overview-card: #111827;
  --overview-muted: #020617;

   --overview-border-base: #1f2937;
  --overview-border-strong: #374151;

  --overview-text-base: #f1f5f9;
  --overview-text-muted: #94a3b8;
  --overview-text-subtle: #64748b;

  --overview-info: #7986cb;
  --overview-teal: #4cb8a7;

  --overview-bill-card:#141e35;

  /* ===============================
     Status & Alerts
     =============================== */
  --overview-success: #4ade80;
  --overview-success-soft: #052e16;

  --overview-warning: #facc15;
  --overview-warning-soft: #451a03;

  --overview-danger: #f87171;
  --overview-danger-soft: #450a0a;
}

@layer utilities {
  /* Backgrounds */
  .bg-overview-base { background-color: var(--overview-base); }
  .bg-overview-card { background-color: var(--overview-card); }
  .bg-overview-muted { background-color: var(--overview-muted); }

  /* Borders */
  .border-overview-base { border-color: var(--overview-border-base); }
  .border-overview-strong { border-color: var(--overview-border-strong); }
  /* Text */
  .text-overview-base { color: var(--overview-text-base); }
  .text-overview-muted { color: var(--overview-text-muted); }

  /* Labels */
  .text-overview-label {
    color: var(--overview-info);
  }
  .bg-overview-bar {
    background-color: var(--overview-info);
  }
  .bg-overview-activ-btn {
    background-color: var(--overview-teal);
  }
  .bg-bill-card {
    background-color: var(--overview-bill-card);
  }
  /* Status */
  .text-overview-success { color: var(--overview-success); }
  .text-overview-warning { color: var(--overview-warning); }
  .text-overview-danger { color: var(--overview-danger); }
}

@layer utilities {
  /* ===== Dialog Backgrounds ===== */
  .bg-dialog {
    background-color: var(--modal-bg);
  }

  .bg-dialog-surface {
    background-color: var(--modal-surface);
  }

  .bg-dialog-header {
    background-color: var(--header-bg);
  }

  .bg-dialog-body {
    background-color: var(--text-secondary);
  }
  /* ===== Text ===== */
  .text-header {
    color: var(--header-text);
  }

  .text-dialog {
    color: var(--text-primary);
  }

  .text-dialog-muted {
    color: var(--text-secondary);
  }
  

  /* ===== Borders ===== */
  .border-dialog {
    border-color: var(--modal-border);
  }

  .border-dialog-input {
    border-color: var(--input-border);
  }

  /* ===== Inputs ===== */
  .bg-dialog-input {
    background-color: var(--input-bg);
  }

  /* ===== Buttons ===== */
  .bg-dialog-primary {
    background-color: var(--dialog-primary);
    color: var(--dialog-primary-text);
  }
  .text-dialog-btn {
    color: var(--btn-text);
  }
  .bg-btn-hover {
    color: var(--dialog-primary-hover);
  }
  .text-dialog-icon {
    color: var(--dialog-primary);
  }
  .bg-dialog-icon {
    background-color: var(--icone-bg);
  }
  .bg-dialog-danger {
    background-color: var(--dialog-danger);
    color: white;
  }

  /* /// */
  .bg-overview-backgroud {
    background-color: var(--overview-back);
  }
}

@layer utilities {
  /* ===== Select Content ===== */
  .select-dialog-content {
    background-color: var(--modal-surface);
    border-color: var(--modal-border);
    color: var(--text-primary);
  }

  /* ===== Select Item ===== */
  .select-dialog-item {
    color: var(--text-primary);
  }

  /* Hover / active */
  .select-dialog-item[data-highlighted] {
    background-color: var(--dialog-primary);
    color: var(--btn-text);
  }

  /* Selected item */
  .select-dialog-item[data-state="checked"] {
    background-color: color-mix(
      in oklab,
      var(--dialog-primary) 20%,
      transparent
    );
    color: var(--dialog-primary);
    font-weight: 500;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-custom-gradient {
  @apply bg-linear-to-br from-white via-indigo-50 to-purple-100
         dark:from-gray-900 dark:via-gray-800 dark:to-black
         border border-purple-800 dark:border-indigo-200
         transition-all;
}

@layer base {
  .bg-custom-gradient-2 {
    @apply bg-linear-to-br 
           from-pink-50 via-red-100 to-yellow-50
           dark:from-gray-800 dark:via-gray-700 dark:to-gray-900
           border border-pink-400 dark:border-red-300
           transition-all;
  }
}

@layer base {
  .table-custom-bg {
    @apply bg-linear-to-r  from-gray-200 via-gray-400 to-gray-400
           dark:from-gray-800 dark:via-gray-700 dark:to-gray-900
           border border-gray-200 dark:border-gray-700
           rounded-lg;
  }
}

@layer utilities {
  .bg-brand-gradient {
    background-image: linear-gradient(
      to right,
      rgb(59 130 246),   /* blue-500 */
      rgb(168 85 247),  /* purple-500 */
      rgb(236 72 153)   /* pink-500 */
    );
  }
}
@layer utilities {
  .bg-Module-header {
    @apply bg-linear-to-r from-indigo-600 to-purple-600;
  }

  .dark .bg-Module-header {
    @apply from-indigo-700 to-purple-700;
  }
}
/* ===============================
   Indigo 700 Global Utilities
   =============================== */

/* TEXT COLOR */
.text-indigo-global {
  @apply text-indigo-700 transition-colors duration-200;
}

.text-indigo-global:hover {
  @apply text-indigo-600;
}

.dark .text-indigo-global {
  @apply text-white;
}

.dark .text-indigo-global:hover {
  @apply text-white;
}


/* BACKGROUND COLOR */
.bg-indigo-global {
  @apply bg-indigo-700 text-white transition-colors duration-200;
}

.bg-indigo-global:hover {
  @apply bg-indigo-600;
}

.dark .bg-indigo-global {
  @apply bg-white text-black;
}

.dark .bg-indigo-global:hover {
  @apply bg-white;
}


/* 🌍 Global: hide scrollbar everywhere */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

/* 🎯 Use this class to show scrollbar where needed */
.scrollbar-show::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.scrollbar-show::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

.scrollbar-show {
  scrollbar-width: thin; /* Firefox */
  -ms-overflow-style: auto;
}


/* globals.css */
/* select option {
  background-color: white;
  color: black;
}

.dark select option {
  background-color: #111827; 
  color: #e5e7eb; 
} */

/* Light mode */
#nprogress .bar {
  height: 1px; /* thickness of the line */
  background: #06b6d4 !important;
}

/* Dark mode */
.dark #nprogress .bar {
  background: #06b6d4 !important;
}


